###############################################################################
# Ignore these directories
###############################################################################
**/__pycache__/


###############################################################################
# Ignore these files
###############################################################################
.*
*~
*.log
