###############################################################################
# Ignore these directories
###############################################################################

__pycache__/
coverage/
data/
mediafiles/
staticfiles/
env/
static/*
staticfiles/

###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*
*.pyc
*.sqlite3

###############################################################################
# Accept these files
###############################################################################

!.coveragerc
!.dockerignore
!.editorconfig
!.gitignore
!.gitlab-ci.yml
!.isort.cfg
!.pylintrc
!.python-version
!static/README.md
